<!-- Needed to load maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPw0MYOGDOjN2igcakAfzzp5DPnGe6XOc&callback=initMap"
async defer></script>

<div class="container" id="heatmap">
    <div class="row">
        <div class="col-lg-12">
            <h1>Visualising Australia's Bushfire Data</h1>
            <p class="lead">... or some other, and much better, tagline.</p>
            <p>Graph/App goes here.</p>
            <div id="map"></div>
        </div>
      </div>
</div>
