   <!-- Page Intro -->
    <div class="container" id="heatmap">
        <div class="row">
            <div class="col-lg-12">
                <h1>Visualising Australia's Bushfire Data</h1>
                <p class="lead">... or some other, and much better, tagline.</p>
            </div>
		</div>
		<div class="row">
			<div class="col-sm-9">
                <img class="img-responsive" src="http://placehold.it/800x400">
            </div>
			<div class="col-sm-3">
                <h1>Try the app.</h1>
                <p class="lead">Or risk being !squiggley.</p>
				<a href="./heatmap.html" class="btn btn-info btn-lg" role="button">Link Button</a>	
            </div>
        </div>
        <!-- /.row -->
    </div>
	
	<!-- Firenado -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12" id="firenado">
				<h1>Firenado</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Column 1.</p>
			</div>
			<div class="col-md-6">
				<p>Column 2.</p>
			</div>
		</div>
	</div>
	
	<!-- About -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12" id="about">
				<h1>About</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Column 1.</p>
			</div>
			<div class="col-md-6">
				<p>Column 2.</p>
			</div>
		</div>
	</div>
	
	<!-- Team -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12" id="team">
				<h1>Team</h1>
			</div>
		</div><div class="row text-center">
			<div class="col-sm-3">
				<img class="profile" src="http://placehold.it/225x225">
				<h3>Erica H.</h3>
				<p class="lead">Hardware</p>
				<p class="img-responsive">Profile text.</p>
			</div>
			<div class="col-sm-3">
				<img class="profile" src="http://placehold.it/225x225">
				<h3>Migara L.</h3>
				<p class="lead">Arduino</p>
				<p class="img-responsive">Profile text.</p>
			</div>
			<div class="col-sm-3">
				<img class="profile" src="http://placehold.it/225x225">
				<h3>Nick H.</h3>
				<p class="lead">Backend</p>
				<p class="img-responsive">Profile text.</p>
			</div>
			<div class="col-sm-3">
				<img class="profile" src="http://placehold.it/225x225">
				<h3>Matt S.</h3>
				<p class="lead">Frontend</p>
				<p class="img-responsive">Profile text.</p>
			</div>
		</div>
	</div>